@media (max-width: 1170px){
    .content-section{
        flex-direction: column;
        padding-left: 15px;
        min-width: 350px;
    }
    .content-section-flex{
        width: 550px;
    }
}

@media (max-width: 768px) {
    .nav-menu{
        display: none;
        }
        .header-background-img{
            margin-top: 83px;
            background-size: cover;
            background: url("../img/backgroundimg768px.jpg") no-repeat center ;
            height: 361px;
        }
        .burger-menu{
            display: block;
            }
}

@media (max-width: 570px){
    .content-section{
        flex-direction: column;
        min-width: 290px;
        .content-section-flex{
            display: block;
            width: 290px;
            div{
                padding-left: 0;
            }
        }
        .content-section-text{
            display: none;
        }
    }
    .footer-content{
        h3{
            padding-top: 45px;
            font-size: 14px;
            line-height: 22px;
        }
        p{
            font-size: 12px;
            line-height: 20px;
        }
    }
}

@media (max-width: 320px)  {
    .header-background-img{
        min-width: 320px;
        background: url("../img/backgroundimg320px.jpg") no-repeat center ;
        height: 150px;
    }
    .content-section{
    .content-section-flex-delete{
        display: none;
    }}
}