@mixin flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin fontsStyle($weight, $size, $height, $color){
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}