body {
  font-family: 'Roboto';
}

.header-background-img{
  background-size: cover;
  background: url("../img/backgroundimg1200px.jpg") no-repeat center ;
  height: 550px;
}

.nav-menu{
  @include flex();
  padding-top: 45px;
  text-decoration: none;
  padding-bottom: 51px;

  li{
    padding-left: 30px;
    padding-right: 30px;
  }
  a{
    @include fontsStyle(400, 11px, 22px, $colorgrey);
  }
  a:hover{
    color: $colorgreen;
  }
}

.content{
  margin: $margin;

  h2{
    padding-left: 20px;
    padding-top: 66px;
    @include fontsStyle(700, 16px, 22px, $colorgrey);
  }
}

.content-section-flex{
  display: flex;
  width: 585px;
  padding-top: 30px;

  div{
    padding-left: 20px;
  }
  h3{
    @include fontsStyle(700, 16px, 30px, $colorgrey);
    padding-bottom: 10px;
  }
}
.content-section-comments{
  @include fontsStyle(400, 12px, 20px, $colorgrey);
  padding-bottom: 10px;
}
.content-section-text{
  @include fontsStyle(400, 14px, 26px, $colorgrey);
}

.content-section{
  min-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

.footer{
  margin: $margin;
  height: 355px;
  background-color:  #000000;
}

.footer-content{
  text-align: center;

  h3{
    padding-top: 66px;
    padding-bottom: 22px;
    @include fontsStyle(700, 16px, 22px, #FEFEFE);
  }
  p{
    @include fontsStyle(400, 16px, 28px, #B9B9B9);
  }
  img{
    padding-top: 34px;
    padding-bottom: 34px;
  }
}



a {
  text-decoration: none;

  &.button {
    display: block;
    margin-right: .5rem;
    padding: .7rem;
    background: #F5F5F5;
    color: $colorgrey;
    font-weight: bold;
    transition: .15s ease;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;

    &:focus{
      color:$colorgreen;
    }

    &:hover {
        background: #E5E5E5;;
        color: $colorgrey;
        transition: .15s ease;
    }
  }
}

.page-corner {
  position: absolute;
  width: 100%;
  max-width: 15rem;
  height: 15rem;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: radial-gradient(farthest-corner at 100% 0,
      #fff 0%, #ddd 60%);
  border-radius: .6rem;
  
  @media only screen and (min-height: 30rem) { transform: translate(-50%, -50%) scale(1.5);}

}

.burger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 3rem;
  z-index: 1;
  display: none;
  
  label {
    display: block;
    transition: .2s ease;
  }
  
  input { display: none; }
  
  &--icon {
    margin-left: -12px;
    height: 27px;
    width: 44px;
    background: #1d1d1d;
    cursor: pointer;
    padding-top: 15px;
    span {
      display: block;
      margin-left: 14px;
      width: 17px;
      height: 2px;
      margin-bottom: .2rem;
      background: #FFFFFF;;
      transition: .2s ease;
    }
  }
  
  &--active {
    margin-top: 9px;
    height: 182px;
    width: 203px;
    background: #F5F5F5;
    position: absolute;
    height: 0;
    top: 2.5rem;
    right: 0;
    text-align: left;
    overflow: hidden;
    opacity: 0;
    transition: .25s ease;
    
    a.button {
      margin-right: 0;
      margin-bottom: -4px;
    }
  }
  
  input:checked + &--active {
    height: 15rem;
    opacity: 1;
    
    & + label {
      padding-top: .4rem;
      transition: .2s ease;
    }
  }

  & input:checked + &--active + label &--icon span {
    transition: .2s ease;
    
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-12%, 50%);
      transition: .2s ease;
    }

    &:nth-child(2) {
      transform: rotate(45deg) translate(-12%, -50%);
      transition: .2s ease;
    }

    &:nth-child(3) {
      opacity: 0;
      transition: .2s ease;
    }
    
  }
  
}